<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Athletik les 1000 pas!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/foundation.css')}}">
        <link rel="stylesheet" href="{{ asset('css/app.css')}}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="/css/jquery.bxslider.css" rel="stylesheet" />
    </head>
    <body>
    <!-------------------------------------------------MENU PRINCIPAL------------------------------------------------->
    <div class="bg"></div>
    <header>
        <div class="top-bar" id="main_menu" data-animate="hinge-in-from-top hinge-out-from-top">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu >
                    <h5><li class="menu" ><a href="{{ path('homepage') }}">Athletik les 1000pas!</a></li></h5>


                        <li><a href="{{ path('classement') }}">Classement général</a></li>
                        <li><a href="{{ path('result') }}">Résultat des courses</a></li>

                    {% if app.user %}
                        <li><a href="{{ path('courseregister') }}">S'inscrire à la course</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Deconnexion</a></li>
                        <li class="row" id="lico" >{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</li>
                    {% else %}

                        <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                        <li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
                        <li class="row" class="lico">Vous n'êtes pas connecté</li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('newcourse') }}">Créer une course</a></li>

                    {% endif %}
                </ul>
            </div>
        </div>
    </header>
    <!----------------------------------------------------------------------------------------------------------------->
        {% block main %}{% endblock %}
    <!-------------------------------------------FOOTER---------------------------------------------------------------->
    <footer>
        <div class="footer-copyright">
            <div class="container">
                <div class="clearfix"></div>
                <a href="#">© 2017 Copyright</a>
            </div>
        </div>
    </footer>
    <!----------------------------------------------------------------------------------------------------------------->
        <script src="{{ asset('js/vendor/jquery.js')}}"></script>
        <script src="{{ asset('js/vendor/what-input.js')}}"></script>
        <script src="{{ asset('js/vendor/foundation.js')}}"></script>
        <script src="{{ asset('js/app.js')}}"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="/js/jquery.bxslider.min.js"></script>
    </body>
</html>
