{% extends 'base.html.twig' %}

{% block main %}

    <select class="selectresult"name="select" size="1">
        <option value="0">Veuillez selectionner une course</option>
        {% for meeting in meetings %}
            <option value={{ meeting.id }}>{{ meeting.name }}</option>
        {% endfor %}
    </select>

    {% for meeting in meetings %}
    <div id="{{ meeting.id }}" class="table hidden" style="overflow-x:auto;">
        <div class="large-12 small-2 column">
        <table >
            <tr>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Temps</th>
                <th>Points</th>
            </tr>

            {% for result in results if result.meeting.id == meeting.id %}

                <tr>
                    <td>{{ result.athlete.firstname }}</td>
                    <td>{{ result.athlete.lastname }}</td>
                    <td>{{ result.time }}</td>
                    <td>{{ result.points }}</td>
                </tr>
            {% endfor %}
        </table>
        </div>
    </div>
    {% endfor %}



{% endblock %}



