{% extends 'base.html.twig' %}

{% block main %}
    {% for meeting in result %}


        <form>
            <select name="select" size="1">
                <option>{{ meeting.name }}
            </select>
        </form>

    {% endfor %}
    <div class="table" style="overflow-x:auto;">
        <table>
            <tr>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Temps</th>
                <th>Resultat</th>
            </tr>

    {% for result in athletes %}

                <tr>
                    <td>{{ result.athlete.firstname }}</td>
                    <td>{{ result.athlete.lastname }}</td>
                    <td>{{ result.time }}</td>
                    <td>{{ result.points }}</td>
                </tr>
    {% endfor %}
        </table>
    </div>


{% endblock %}

