{% extends 'base.html.twig' %}

{% block main %}
<h1>Resultats des courses</h1>
    <select class="selectresult"name="select" size="1">
        <option value="0">Veuillez selectionner une course</option>
        {% for meeting in meetings %}
            <option value={{ meeting.id }}>{{ meeting.name }}&nbsp;{{ meeting.date|date('d-m-Y') }}</option>
        {% endfor %}
    </select>
    <div class="row">
    {% for meeting in meetings %}
        <div id="{{ meeting.id }}" class="table" style="overflow-x:auto;">
            <table>
                <tr>
                    <th width="200">Prenom</th>
                    <th width="200">Nom</th>
                    <th width="150">Temps</th>
                    <th width="150">Points</th>
                </tr>

        {% for result in results if result.meeting.id == meeting.id %}

                <tr>
                    {% if is_granted('ROLE_ADMIN') %}
                    <td class="hidden" id="meetingyear{{ result.meeting.id }}">{{ result.meeting.date|date('Y') }}</td>
                    <td class="hidden" id="athleteyear{{ result.athlete.id }}">{{ result.athlete.birthdate }}</td>
                    <td>{{ result.athlete.firstname }}</td>
                    <td>{{ result.athlete.lastname }}</td>
                    <td><form id={{ result.meeting.id }} method="POST"><input type="text" id="time{{ result.athlete.id }}#{{ result.meeting.id }}" placeholder={{ result.time }}><input class="resultForm" id="{{ result.athlete.id }}" type="button"></form></td>
                    <td id="point{{ result.athlete.id }}#{{ result.meeting.id }}"></td>
                    {% else %}
                    <td>{{ result.athlete.firstname }}</td>
                    <td>{{ result.athlete.lastname }}</td>
                    <td>{{ result.time }}</td>
                    <td>{{ result.points }}</td>
                </tr>
                    {% endif %}
        {% endfor %}
            </table>
        </div>
    </div>

    {% endfor %}

{% endblock %}



